<%= turbo_stream_from "#{current_user.id == @user.id ? "my-posts-#{@user.id}" : "posts-#{@user.id}"}" %>
<%= render @user %>
<div id="<%= current_user.id == @user.id ? "my-posts-#{@user.id}" : "posts-#{@user.id}" %>">
    <%= render partial: "posts/post", collection: @user.created_posts %>
</div>