<div id="sent-requests">
    <% unless @sent_requests.empty? %>
        <%= render partial: "request", collection: @sent_requests %>
    <% else %>
        <div>No sent requests yet!</div>
    <% end %>
</div>