<header class="flex justify-between w-full p-5 font-bold">
    <nav class="flex items-center justify-between grow-1">
        <%= button_to "Home", posts_path, method: "get", class: "button border-solid border-transparent hover:border-blue-300 border-3 p-2" %>
        <div class="flex gap-5 content-center">
            <% if user_signed_in? %>
                <%= button_to "Log Out", destroy_user_session_path, method: "delete", class: "button border-solid border-transparent hover:border-blue-300 border-3 p-2" %>
            <% else %>
                <%= button_to "Login", new_user_session_path, method: "get", class: "button border-solid border-transparent hover:border-blue-300 border-3 p-2" %>
                <%= button_to "Signup", new_user_registration_path, method: "get", class: "button border-solid border-transparent hover:border-blue-300 border-3 p-2" %>
            <% end %>
        </div>
    </nav>
</header>